.info_poke{
    width: 100%;
}
.poke_info-container{
    width: 80%;
    max-width: 1020px;
    margin: 2rem auto;
}
.poke_info-img{
    max-width: 550px;
    margin: 0 auto;
}
.poke_info-name{ 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #416460;
}
.characteristics{
text-align: center;
margin-top: 3rem;
padding: 2rem;
}
.poke_weight-height{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 3rem;
}
.poke_characteristics{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.3rem;
}
.poke_characteristics p{
    font-size: 35px;
    font-weight: bold;
}
.type_ability{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.box_title{
    display: grid;
    gap: 0.5rem;
}
.types_abilities{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.types_abilities span{
    border: 2px solid black;
    font-size: 1.5rem;
    padding: 5px 10px;
}
.img-grass{
 background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
}
.img-fire{
  background:   linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);
}
.img-water{
    background: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);
}
.img-bug{
    background: linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%);
}
.img-normal{
    background: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
}
.img-fighting{
    background: linear-gradient(176.83deg, #96402A -8.78%, #F1613C 169.09%, #CB735D 242.33%);
}
.img-poison{
    background: linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);
}
.img-ghost{
    background: linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);
}
.img-rock{
    background: linear-gradient(177.03deg, #7E7E7E -11.97%, #8D8D94 57.49%, #D3D3D3 135.64%);
}
.img-dark{
    background: linear-gradient(177.03deg, #030706 -11.97%, #0D1211 57.49%, #5A5E5D 135.64%);
}
.img-ice{
    background: linear-gradient(177.03deg, #6FBEDF -11.97%, #64CBF5 47.77%, #BDEBFE 136.72%);
}
.img-steel{
    background: linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);
}
.img-dragon{
    background: linear-gradient(179.75deg, #478A93 -19.96%, #56A4AE 43.67%, #A2BEC1 138.4%);
}
.img-fairy{
    background: linear-gradient(179.75deg, #971B45 -19.96%, #C23867 43.67%, #CD7D98 138.4%);
}
.img-electric{
    background: linear-gradient(179.75deg, #0C1395 -19.96%, #2B319B 43.67%, #7075D9 138.4%);
}
.img-ground{
    background: linear-gradient(179.75deg, #654008 -19.96%, #895C1A 43.67%, #D69638 138.4%);
}
.img-psychic{
    background: linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);
}
.type-fire{
    background:   linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);
}
.type-grass{
    background:   linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
}
.type-water{
    background: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);
}
   .type-bug{
    background: linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%);
}
   .type-normal{
    background: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
}
   .type-fighting{
    background: linear-gradient(176.83deg, #96402A -8.78%, #F1613C 169.09%, #CB735D 242.33%);
}
   .type-poison{
    background: linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);
}
   .type-ghost{
    background: linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);
}
   .type-rock{
    background: linear-gradient(177.03deg, #7E7E7E -11.97%, #8D8D94 57.49%, #D3D3D3 135.64%);
}
   .type-dark{
    background: linear-gradient(177.03deg, #030706 -11.97%, #0D1211 57.49%, #5A5E5D 135.64%);
}
   .type-ice{
    background: linear-gradient(177.03deg, #6FBEDF -11.97%, #64CBF5 47.77%, #BDEBFE 136.72%);
}
   .type-steel{
    background: linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);
}
   .type-dragon{
    background: linear-gradient(179.75deg, #478A93 -19.96%, #56A4AE 43.67%, #A2BEC1 138.4%);
}
   .type-fairy{
    background: linear-gradient(179.75deg, #971B45 -19.96%, #C23867 43.67%, #CD7D98 138.4%);
}
   .type-electric{
    background: linear-gradient(179.75deg, #0C1395 -19.96%, #2B319B 43.67%, #7075D9 138.4%);
}
   .type-ground{
    background: linear-gradient(179.75deg, #654008 -19.96%, #895C1A 43.67%, #D69638 138.4%);
}
   .type-psychic{
    background: linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);
}
.bar{
    height: 30px;
}
.stats{
    display: grid;
    gap: 2rem;
    margin-top: 100px;
}
.stats_title{
    font-size: 45px;
}
.bar_stat-text{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}
.container_poke-info{
    width: 80%;
    margin: auto;
}
.moves_container{
    margin-top: 5rem;
    background-color: #FFFFFF;
}
.move_title{
    font-size: 45px;
    margin-top: 3rem;
}
.movements{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
}
.movements_info{
    border: 1px solid black;
    font-size: 25px;
    border-radius: 0.5rem;
    padding: 5px;
    background:  #E5E5E5;
}
.poke_not-found{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    font-size: 40px;
    color: red;
    font-family: fantasy;
    font-weight: lighter;
}
.not_found-img{
    height: 100vh;
    background-image: url('/images/pikachu-sad.jpg');
    background-size: cover;
    background-position: center;
    padding: 2em;
}
