.cards {
  width: 100%;
  max-width: 380px;
  border-radius: 1em;
  border: 12px solid black;
  overflow: hidden;
  transition: transform 150ms ease;
  cursor: pointer;
}
.cards:hover {
  transform: scale(1.05);
}
.poke_header {
  height: 233px;
  position: relative;
  margin-bottom: 50px;
  border: none;
}
.poke_img {
  width: 63%;
  top: 15px;
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%);
}
.poke_name {
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 0.1rem;
  margin-top: -40px;
}
.poke_type {
  display: flex;
  justify-content: center;
  gap: 1.2em;
}
.poke_li {
  text-transform: capitalize;
  position: relative;
  margin-bottom: 0.3em;
}
.poke_li:nth-child(2)::before {
  content: "/";
  position: absolute;
  left: -12px;
}
.poke_hr {
  border: none;
  border-top: 1px solid #7772;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.2em;
}
.poke_info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 0.5em 1.5em;
  gap: 0.8em 0.1em;
}
.poke_info-li {
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  align-items: center;
}
.poke_info-span {
  font-size: 0.75rem;
  text-transform: uppercase;
  text-align: center;
}
.bg-grass {
  background-image: linear-gradient(
    178.92deg,
    #7ec6c5 0.92%,
    #abdac6 47.96%,
    #cae099 99.08%
  );
}
.bg-fire {
  background-image: linear-gradient(
    176.37deg,
    #f96d6f -32.26%,
    #e35825 22.55%,
    #e8ae1b 125.72%
  );
}
.bg-water {
  background-image: linear-gradient(
    179.57deg,
    #133258 -70.14%,
    #1479fb 56.16%,
    #82b2f1 214.85%
  );
}
.bg-bug {
  background-image: linear-gradient(
    177.56deg,
    #62db60 -58.92%,
    #3bb039 16.57%,
    #aaffa8 209.53%
  );
}
.bg-normal {
  background: linear-gradient(
    181.51deg,
    #735259 -6.44%,
    #bc6b7c 121.95%,
    #7c3f4c 186.11%
  );
}
.bg-fighting {
  background: linear-gradient(
    176.83deg,
    #96402a -8.78%,
    #f1613c 169.09%,
    #cb735d 242.33%
  );
}
.bg-poison {
  background: linear-gradient(
    177.03deg,
    #5b3184 -11.97%,
    #a564e3 71.28%,
    #ce9bff 135.64%
  );
}
.bg-ghost {
  background: linear-gradient(
    177.03deg,
    #323569 -11.97%,
    #454aa8 57.49%,
    #787dda 135.64%
  );
}
.bg-rock {
  background: linear-gradient(
    177.03deg,
    #7e7e7e -11.97%,
    #8d8d94 57.49%,
    #d3d3d3 135.64%
  );
}
.bg-dark {
  background: linear-gradient(
    177.03deg,
    #030706 -11.97%,
    #0d1211 57.49%,
    #5a5e5d 135.64%
  );
}
.bg-ice {
  background: linear-gradient(
    177.03deg,
    #6fbedf -11.97%,
    #64cbf5 47.77%,
    #bdebfe 136.72%
  );
}
.bg-steel {
  background: linear-gradient(
    179.75deg,
    #5e736c -19.96%,
    #728881 43.67%,
    #a8a8a8 138.4%
  );
}
.bg-dragon {
  background: linear-gradient(
    179.75deg,
    #478a93 -19.96%,
    #56a4ae 43.67%,
    #a2bec1 138.4%
  );
}
.bg-fairy {
  background: linear-gradient(
    179.75deg,
    #971b45 -19.96%,
    #c23867 43.67%,
    #cd7d98 138.4%
  );
}
.bg-electric {
  background: linear-gradient(
    179.75deg,
    #0c1395 -19.96%,
    #2b319b 43.67%,
    #7075d9 138.4%
  );
}
.bg-ground {
  background: linear-gradient(
    179.75deg,
    #654008 -19.96%,
    #895c1a 43.67%,
    #d69638 138.4%
  );
}
.bg-psychic {
  background: linear-gradient(
    179.75deg,
    #5e736c -19.96%,
    #728881 43.67%,
    #a8a8a8 138.4%
  );
}
.bg-flying {
  background: #a2bec1;
}
.border-grass {
  border-color: #abdac6;
}
.border-fire {
  border-color: #e35825;
}
.border-water {
  border-color: #1479fb;
}
.border-bug {
  border-color: #3bb039;
}
.border-normal {
  border-color: #735259;
}
.border-fighting {
  border-color: #f1613c;
}
.border-poison {
  border-color: #a564e3;
}
.border-ghost {
  border-color: #454aa8;
}
.border-rock {
  border-color: #8d8d94;
}
.border-dark {
  border-color: #0d1211;
}
.border-ice {
  border-color: #64cbf5;
}
.border-steel {
  border-color: #728881;
}
.border-dragon {
  border-color: #56a4ae;
}
.border-fairy {
  border-color: #c23867;
}
.border-electric {
  border-color: #2b319b;
}
.border-ground {
  border-color: #895c1a;
}
.border-psychic {
  border-color: #c23867;
}
.border-flying {
  border-color: #56a4ae;
}
.color-grass {
  color: #7ec6c5;
}
.color-fire {
  color: #e35825;
}
.color-water {
  color: #133258;
}
.color-bug {
  color: #3bb039;
}
.color-normal {
  color: #735259;
}
.color-fighting {
  color: #96402a;
}
.color-poison {
  color: #5b3184;
}
.color-ghost {
  color: #323569;
}
.color-rock {
  color: #7e7e7e;
}
.color-dark {
  color: #030706;
}
.color-ice {
  color: #6fbedf;
}
.color-steel {
  color: #5e736c;
}
.color-dragon {
  color: #478a93;
}
.color-fairy {
  color: #971b45;
}
.color-electric {
  color: #0c1395;
}
.color-ground {
  color: #654008;
}
.color-psychic {
  color: #971b45;
}
.color-flying {
  color: #478a93;
}
